@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
	font-family: 'Kaushan Script', cursive;
	color: white;
}


/* НОМЕР МАГАЗИНА */
/* #shop0001n1{
	display: none;
} */
/* НОМЕР МАГАЗИНА */



/* LOCK SHOP */
#lockshop0001n1{
	display: flex;
	flex-wrap: wrap;
	font-size: 23px;
	margin-top: 150px;
	justify-content: center;
	width: 1000px;
	display: none;
	/* border: 1px solid red; */
}
.noactive,.block,.inst_button{
	text-align: center;
}
.block{
	margin: 20px 0px 50px;
}
.inst_button{
	height: max-content;
	width: 600px;
	border: rgba(255,255,255,0.3) solid 1px;
	background:rgba(192,192,192,0.2);
	text-align: center;
	vertical-align: middle;
	transition: .4s;
	color: white;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 25px;
	padding: 2px 10px;
}
.inst_button:hover{
background: #2EE59D;
box-shadow: 0 10px 15px rgba(46, 229, 157, .3);
color: white;
transform: translateY(-3px);
border: rgba(255,255,255,0.70) solid 2px;
text-shadow: none;
}
/* LOCK SHOP */






.main_wrap{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: center;
/*	border: 1px solid blue;*/

}
.hedder{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	font-family: 'Kaushan Script', cursive;
	background:   rgba(81,198,240,0.1);
	color: white;
	text-shadow:0 0 10px silver;
}
.wrap_name{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.name{
	display: flex;
	width: 60%;
	margin: auto;
	font-size: calc(35px + 25 * (100vw / 1920));
	white-space:pre;
}
.name > .material-icons{
	font-size: calc(55px + 40 * (100vw / 1920));
	padding-left:12px;
    color: white;
	text-shadow:0 0 10px silver;
}
.seo_wrap{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
}
.social{
	width: 50%;
	text-align: center;
	margin: auto;	
	font-size: 130%;
	color:white;
}
.contacts{
	width: 40%;
	text-align: start;
	margin: auto;
}
.contacts > a > img{
	width: 17%;
}
.nav{
	display: flex;
	margin: 25px 0px 0px 0px;
	text-align: center;
	height: 35px;
	width: 100%;
	font-size: 23px;
	font-family: 'Kaushan Script', cursive;
	font-weight: 600;
	color: white;
	text-shadow:0 0 10px silver;
	justify-content: space-between;
	padding: 0px 150px 0px 150px;
}
.back, .mainPage{
	height: max-content;
	border: rgba(255,255,255,0.3) solid 1px;
	background:rgba(192,192,192,0.2);
	text-align: center;
	vertical-align: middle;
	transition: .4s;
	color: white;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 25px;
	padding: 2px 10px;
}
.back:hover{
 background: #2EE59D;
 box-shadow: 0 10px 15px rgba(46, 229, 157, .3);
 color: white;
 transform: translateY(-1px);
 border: rgba(255,255,255,0.70) solid 2px;
 text-shadow: none;
}
.mainPage:hover{
 background: #2EE59D;
 box-shadow: 0 10px 15px rgba(46, 229, 157, .3);
 color: white;
 transform: translateY(-1px);
 border: rgba(255,255,255,0.70) solid 2px;
 text-shadow: none;
}
.main{
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	max-height: 5000px;
	max-width: 1700px;
	/* border: 1px solid red; */
}
.sallerName{
	margin: 5px 0px 0px 0px;
	text-align: center;
	height: 50px;
	width: 80%;
	font-size: 35px;
	font-family: 'Kaushan Script', cursive;
	font-weight: 600;
	color: white;
	text-shadow:0 0 10px silver;
	/* border: 1px solid red; */
}
a{
	text-decoration: none;
}

			/*			описание			*/

			/* название магазина */
			.wrapNameShop{
				height: 70px;
				width: 100%;
				/* border: 1px solid red; */
				display: flex;
				justify-content: center;
				margin-top: 20px;
			}

			.logoShop>	a>	img{
				width: 70px;
				height: 70px;
				border-radius: 35px;
				/* border: 1px solid yellow; */
			}
			.shopN{
				padding: 10px 0px 0px 25px;
				height: 45px;
				font-size: 30px;
			}
			/* название магазина */
.productName{
	width: 100%;
	height: 50px;
	/* border: 1px solid red; */
	text-align: center;
	font-size: 35px;
	text-shadow:2px 2px 5px silver;
}

.description{
	display: flex;
	flex-wrap: wrap;
	align-content:space-around;
	width: 900px;
	height: 785px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 25px;
	margin: 35px 10px 0px 25px;
}
.price-wrap{
	display: flex;
	/* border: 1px solid blue; */
	height: 8%;
	width: 100%;
	
}
.price-sale{
	/* border: 1px solid red; */
	height: max-content;
	width: 50%;
	text-align: center;
	font-size: 40px;
	text-shadow:2px 2px 5px silver;
	
	
}
.main-price{
	/* border: 1px solid pink; */
	height: max-content;
	width: 20%;
	font-size: 27px;
	text-decoration: line-through;
	text-decoration-color: red;
	opacity: 35%;
	text-shadow:0 0 5px silver;
}
.consist-wrap{
	width: 90%;
	/* border: 1px solid yellow; */
	height: max-content;
	padding-left: 35px;
	font-size: 27px;
	text-shadow:0 0 10px silver;
}
.consist{
	width: 90%;
	/* border: 1px solid orange; */
	height: max-content;
	padding-left: 35px;
	font-size: 20px;
	text-shadow:none;
}
.color-wrap{
	display: flex;
	width: 100%;
	/* border: 1px solid blue; */
	justify-content: space-evenly;
	height: max-content;
}
#col1,#col2,#col3,#col4,#col5{
	/* border: solid 1px white; */
	width: 50px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	cursor: pointer;
}
.size-wrap{
	display: flex;
	width: 100%;
	/* border: 1px solid green; */
	justify-content: space-evenly;
	height: 50px;
}
#size1, #size2, #size3, #size4, #size5, #size6, #size7,#size8{
		font-size: 25px;
		text-shadow:0 0 10px silver;
	
}

.buttons-wrap{
	height: max-content;
	display: flex;
	margin-top: 10px;
	width: 100%;
	/* border: 1px solid grey; */
	justify-content: space-evenly;
	align-content: center;
}
.seller, .promo{
	width: 40%;
	height: max-content;
	text-align: center;
	font-size: 21px;
	border: rgba(255,255,255,0.3) solid 1px;
	background: rgba(46, 229, 156, 0.3);
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.4);
	border-radius: 40px;
	padding: 5px;
	cursor: pointer;
	transition: .3s;	
}
.seller{
background: rgba(46, 229, 156, 0.7);
box-shadow: 0 1px 10px 0px rgba(255,255,255,0.4);}

.seller:hover{
	background: rgba(46, 229, 156, 0.85);
	box-shadow: 0 1px 15px 0px rgba(255,255,255,0.8);
	transform: translateY(-3px);
}
.promo:hover{
	background: rgba(46, 229, 156, 0.7);
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	transform: translateY(-3px);
}




/* .promo{
	
} */




			/*			подробности			*/

.details-wrap{
	background:  rgba(192,192,192,0.2);
	
	margin-top:20px; 
	width: 98%;
	height: max-content;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 25px;
}

.details{
	margin-top:10px;
	width: 100%;
	height: max-content;
	text-align: center;
	font-size: 27px;
	text-shadow:2px 2px 5px silver;
}

.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
	font-size: 23px;
	margin-left: 100px;
	width: 80%;
	padding-bottom: 10px;
/*	border: 1px solid red;*/
}

.timeOfShiping>.material-icons, .priceOfShip>.material-icons,.methodsOfShiping>.material-icons,.pay>.material-icons,.priceOfCourier>.material-icons{
	font-size: 40px;
	transform: translateY(7px);
}

/*				!СЛАЙДЕР!    			*/



.pic-wrap {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content:space-around;
	align-content: space-around;
	position: relative;
	width: 700px;
	height: 750px;
	overflow: hidden;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
	padding: 15px;
	margin: 35px 10px 0px 10px;
}
.small	{
	height: 180px;
	width: 120px;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 10px;

}

.bottom-pic{
	display: flex;
	flex-wrap: wrap;
	height: 705px;
	width: 170px;
	justify-content:space-around;
	align-content: space-around;
	/* border: red solid 1px; */
}
 .big-pic {
	overflow: hidden;
	width: 470px;
	height: 705px;
	float: right;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
	
}
.big-pic > div {
	width: 470px;
	height: 705px;
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
}
.big-pic > div > img {
	width: 470px;
	height: 705px;
	border-radius: 30px;
}

.bottom-pic > div > a {
	display: block;
}
.bottom-pic > div > a > img {
	width: 120px;
	height: 180px;
	border-radius: 10px;
}

.big-pic div:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
	
}
.big-pic div:not(:target) {
	-webkit-animation: hidden 1s 1;
}



	/* инпут распологается высоко, выше viewport'а  */
#myInput{
	position: absolute;
	width: 1px;
	height: 1px;
	top: -1000px;
}





@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}



/*				!СЛАЙДЕР!    			*/


@media (max-width: 1720px){
	.seller, .promo{
	width: 45%;
	height: max-content;
	padding: 5px;
	font-size: 19px;}
	
	.description{
		width: 700px;
		margin: 35px 10px 0px 5px;
	}
}
@media (max-width: 1600px){
	.seller, .promo{
	width: 42%;
	height: max-content;
	padding: 5px;
	font-size: 17px;}
	
	.description{
		width: 600px;
		margin: 35px 10px 0px 5px;
	}
	.shopN{
		font-size: 25px;
		transform: translateY(5px);
	}
}
@media (max-width: 1500px){
	.seller, .promo{
	width: 42%;
	height: max-content;
	padding: 5px;
	font-size: 17px;}
	
	.pic-wrap{
		width: 670px;
	}

	.description{
		width: 580px;
		margin: 35px 10px 0px 5px;
	}
	.price-sale{
		font-size: 35px;	
	}
	.main-price{
		font-size: 25px;
	}
	}
@media (max-width: 1400px){
	.description{
		width: 700px;
		height: 832px;
		margin: 35px 10px 0px 5px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 19px;
		padding: 3px;
	}
	.shopN{
		font-size: 21px;
		transform: translateY(8px);
	}
	.details{
		font-size: 25px;
		text-shadow:2px 2px 5px silver;
	}
	
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		font-size: 21px;
		margin-left: 100px;
		width: 80%;
		padding-bottom: 10px;
	/*	border: 1px solid red;*/
	}
	
	.timeOfShiping>.material-icons, .priceOfShip>.material-icons,.methodsOfShiping>.material-icons,.pay>.material-icons,.priceOfCourier>.material-icons{
		font-size: 35px;
		transform: translateY(8px);
	}
	.pic-wrap {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content:space-around;
	align-content: space-around;
	position: relative;
	width: 450px;
	height: 800px;
	overflow: hidden;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
	padding: 15px;
	margin: 35px 10px 0px 10px;
}
.small{
	width: 100px;
	height: 150px;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 10px;	
}

.bottom-pic{
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 170px;
	justify-content:space-around;
	align-content: space-around;
	
}
 .big-pic {
	overflow: hidden;
	width: 400px;
	height: 600px;
	float: right;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
	 
}
.big-pic > div {
	width: 400px;
	height: 600px;
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;	
}
.big-pic > div > img {
	width: 400px;
	height: 600px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/

.bottom-pic > div > a > img {
	width: 100px;
	height: 150px;
	border-radius: 10px;
}
}








@media (max-width: 1300px){
	
		.description{
		width: 750px;
		height: max-content;
		margin: 35px 10px 0px 5px;
		align-content:flex-start;
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 50px;
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 21px;
	}
	.shopN{
		font-size: 32px;
		transform: translateY(0px);
	
	}
	.shopN	>a>	nobr{
		display: none;
	}
	.pic-wrap {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content:space-around;
		align-content: space-around;
		position: relative;
		width: 450px;
		height: 800px;
		overflow: hidden;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
		padding: 15px;
		margin: 35px 10px 0px 10px;
	}
	.small{
		width: 100px;
		height: 150px;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 10px;	
	}
.big-pic{
	overflow: hidden;
	width: 400px;
	height: 600px;
	float: right;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
}
.bottom-pic{
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 170px;
	justify-content:space-around;
	align-content: space-around;
	
}
.big-pic > div {
	width: 400px;
	height: 600px;
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 400px;
	height: 600px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/
.bottom-pic > div > a > img {
	width: 100px;
	height: 150px;
	border-radius: 10px;
}
	.name{
	width: 60%;
}
	.social{
	width: 80%;
}
	.contacts{
	text-align: center;
	width: 15%;
}
	.contacts > a > img{
	width: 70%;
	}
	.main{
	max-height: 4000px;
	max-width: 870px;
	}
}
@media (max-width: 768px){
	
		.description{
		width: 700px;
		height: max-content;
		margin: 35px 10px 0px 5px;
		align-content:flex-start;
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 35px;
		font-size: 19px;
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 19px;
	}
	.pic-wrap {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content:space-around;
	align-content: space-around;
	position: relative;
	width: 450px;
	height: 650px;
	overflow: hidden;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
	padding: 15px;
	margin: 10px 10px 0px 10px;
}
.big-pic{
	overflow: hidden;
	width: 300px;
	height: 450px;
	float: right;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 30px;
}
.small	{
	width: 100px;
	height: 150px;
	border: rgba(255,255,255,0.3) solid 2px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	border-radius: 10px;
	
}

.bottom-pic{
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	height: 170px;
	justify-content:space-around;
	align-content: space-around;
	
}
.big-pic > div {
/*
	width: 100%;
	height: 680px;
*/
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 300px;
	height: 450px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/
.bottom-pic > div > a > img {
	width: 100px;
	height: 150px;
	border-radius: 10px;
}
	
	
	.name{
	width: 60%;
}
	.social{
	display: none;
}
	.contacts{
	text-align: center;
	width: 20%;
	margin-right: 50px;
}
	.contacts > a > img{
	width: 70%;
}
	.sallerName{
	font-size: 27px;
	height: 40px;
	margin-top: 5px;
}
	.nav{
	margin: 15px 0px 0px 0px;
	padding: 0px 60px 0px 60px;
}
	.hedder{
	height: 70px;
}
	.main{
	max-height: 4100px;
	max-width: 580px;
	margin-top: 5px;
}}


@media (max-width: 650px){
	#size1, #size2, #size3, #size4, #size5, #size6, #size7,#size8{
		font-size: 22px;
		transform: translateY(5px);
	}
	.description{
		width: 700px;
		height: max-content;
		margin: 20px 10px 0px 5px;
		align-content:flex-start;
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 35px;
		font-size: 17px;
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 19px;
	}
	.details{
		font-size: 25px;
	}
	.pic-wrap {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content:space-around;
		align-content: space-around;
		position: relative;
		width: 450px;
		height: 590px;
		overflow: hidden;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
		padding: 15px;
		margin: 5px 10px 0px 10px;
	}
	.big-pic{
		overflow: hidden;
		width: 300px;
		height: 450px;
		float: right;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
	}
	.small	{
		width: 90px;
		height: 135px;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 10px;
		
	}
	
	.bottom-pic{
		display: flex;
		flex-wrap: wrap;
		width: 600px;
		height: 160px;
		justify-content:space-around;
		align-content: space-around;
		
	}
.big-pic > div {
/*
	width: 100%;
	height: 680px;
*/
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 300px;
	height: 450px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/
.bottom-pic > div > a > img {
	width: 90px;
	height: 135px;
	border-radius: 10px;
}
	
	.name{
	width: 60%;
}
	.social{
	display: none;
}
	.contacts{
	text-align: center;
	width: 20%;
	margin-right: 50px;
}
	.contacts > a > img{
	width: 70%;
}
	.sallerName{
	font-size: 22px;
	margin-top: 20px;
	height: 30px;
}
	.nav{
	padding: 0px 50px 0px 50px;
	margin: 10px 0px 0px 0px;
}
	.hedder{
	height: 70px;
}
	.main{
	max-height: 4100px;
	max-width: 450px;
	margin-top: 10px;
}
}

@media (max-width: 480px){
	.shopN{
		font-size: 25px;
		transform: translateY(0px);
	}
	.logoShop>	a>	img{
		width: 55px;
		height: 55px;
		border-radius: 35px;
		/* border: 1px solid yellow; */
	}
	.wrapNameShop{
		height: 55px;
		width: 100%;
		border: 1px solid red;
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.back, .mainPage{
		height: max-content;
		border: rgba(255,255,255,0.3) solid 1px;
		background:rgba(192,192,192,0.2);
		text-align: center;
		vertical-align: middle;
		transition: .4s;
		color: white;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 25px;
		padding: 2px 10px;
		font-size: 17px;
		font-weight: 300;
	}
	
	.description{
		width: 700px;
		height: max-content;
		margin: 20px 10px 0px 5px;
		align-content:flex-start;
	}
	.productName{
		height: 40px;
		font-size: 30px;
	}
	.consist-wrap{
		padding-left: 35px;
		font-size: 23px;
		text-shadow:0 0 10px silver;
	}
	.consist{
		padding-left: 5px;
		font-size: 18px;
		text-shadow:none;
	}
	#size1, #size2, #size3, #size4, #size5, #size6, #size7,#size8{
		font-size: 20px;
		transform: translateY(10px);
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 35px;
		font-size: 17px;
	}
	#col1,#col2,#col3,#col4,#col5{
		width: 40px;
		height: 40px;	
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 19px;
	}
	.details{
		font-size: 23px;
	}
	.pic-wrap {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content:space-around;
		align-content: space-around;
		position: relative;
		width: 450px;
		height: 575px;
		overflow: hidden;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
		padding: 15px;
		margin: 10px 10px 0px 10px;
	}
	.big-pic{
		overflow: hidden;
		width: 280px;
		height: 420px;
		float: right;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
	}
	.small	{
		width: 90px;
		height: 135px;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 10px;
		
	}
	
	.bottom-pic{
		display: flex;
		flex-wrap: wrap;
		width: 600px;
		height: 150px;
		justify-content:space-around;
		align-content: space-around;
		
	}

.big-pic > div {
/*
	width: 100%;
	height: 680px;
*/
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 280px;
	height: 420px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/

.bottom-pic > div > a > img {
	width: 90px;
	height: 135px;
	border-radius: 10px;
}
	
	
	
	
	
	
	.name{
	width: 60%;
}
	.social{
	display: none;
}
	.contacts{
	text-align: center;
	width: 25%;
	margin-right: 30px;
}
	.contacts > a > img{
	width: 70%;
}
	.sallerName{
	font-size: 20px;
	margin-top: 20px;
	height: 30px;
}
	.nav{
	margin: 10px 0px 0px 0px;
}
	.hedder{
	height: 65px;
}
	.main{
	max-height: 4000px;
	max-width: 390px;
	margin-top: 5px;
}
}


@media (max-width: 414px){
	.description{
		width: 700px;
		height: max-content;
		margin: 20px 10px 0px 5px;
		align-content:flex-start;
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 35px;
		font-size: 15px;
	}
	.timeOfShiping>.material-icons, .priceOfShip>.material-icons,.methodsOfShiping>.material-icons,.pay>.material-icons,.priceOfCourier>.material-icons{
		font-size: 27px;
		transform: translateY(5px);
	}
	
	#col1,#col2,#col3,#col4,#col5{
		border: solid 1px white;
		width: 35px;
		height: 35px;
		border-radius: 25px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		margin:10px 20px;
		width: 100%;
		font-size: 17px;
	}
	#size1, #size2, #size3, #size4, #size5, #size6, #size7,#size8{
		font-size: 18px;
		transform: translateY(10px);
	}
	.details{
		font-size: 21px;
	}
	.price-sale{
	
		height: max-content;
		width: 50%;
		text-align: center;
		font-size: 27px;
		text-shadow:2px 2px 5px silver;	
	}
	.main-price{
		
		height: max-content;
		width: 50%;
		font-size: 19px;
		text-decoration: line-through;
		text-decoration-color: red;
		opacity: 35%;
		text-shadow:0 0 5px silver;
	}
	.pic-wrap {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content:space-around;
		align-content: space-around;
		position: relative;
		width: 450px;
		height: 520px;
		overflow: hidden;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
		padding: 15px;
		margin: 10px 10px 0px 10px;
	}
	.big-pic{
		overflow: hidden;
		width: 260px;
		height: 390px;
		float: right;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
	}
	.small	{
		margin-top: 10px;
		width: 75px;
		height: 113px;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 10px;
		
	}
	
	.bottom-pic{
		display: flex;
		flex-wrap: wrap;
		width: 600px;
		height: 120px;
		justify-content:space-around;
		align-content: space-around;
		
	}
 
.big-pic > div {
/*
	width: 100%;
	height: 680px;
*/
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 260px;
	height: 390px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/

.bottom-pic > div > a > img {
	width: 75px;
	height: 113px;
	border-radius: 10px;
}
	.name{
	width: 90%;
}
	.social{
	display: none;
}
	.contacts{
	text-align: center;
	width: 25%;
	margin-right: 20px;
}
	.contacts > a > img{
	width: 75%;
}
	.sallerName{
	font-size: 20px;
	margin-top: 20px;
	height: 30px;
}
	.nav{
	margin: 7px 0px 0px 0px;
}
	.hedder{
	height: 60px;
}
	.main{
	max-height: 4000px;
	max-width: 340px;
	margin-top: 5px;
}
}

@media (max-width: 360px){
	.description{
		width: 350px;
		height: max-content;
		margin: 20px 10px 0px 5px;
		align-content:flex-start;
	}
	.timeOfShiping, .priceOfShip,.methodsOfShiping,.pay,.priceOfCourier{
		margin-left: 15px;
		font-size: 15px;
	}
	.color-wrap{
		margin: 10px 0px;
	}
	.buttons-wrap{
		flex-wrap: wrap;
	}
	.seller, .promo{
		padding: 3px;
		margin:10px 10px;
		width: 80%;
		font-size: 15px;
	}
	
	.details{
		font-size: 21px;
	}
	.pic-wrap {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content:space-around;
		align-content: space-around;
		position: relative;
		width: 450px;
		height: 450px;
		overflow: hidden;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
		padding: 15px;
		margin: 15px 10px 0px 10px;
	}
	.big-pic{
		overflow: hidden;
		width: 225px;
		height: 340px;
		float: right;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 30px;
	}
	.small	{
		margin-top: 10px;
		width: 65px;
		height: 98px;
		border: rgba(255,255,255,0.3) solid 2px;
		box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
		border-radius: 10px;
		
	}
	.bottom-pic{
		display: flex;
		flex-wrap: wrap;
		width: 600px;
		height: 120px;
		justify-content:space-around;
		align-content: space-around;
		
	}

.big-pic > div {
/*
	width: 100%;
	height: 680px;
*/
/*	position: absolute;*/
	z-index: 1;
	overflow: hidden;
	
	
}
.big-pic > div > img {
	width: 225px;
	height: 340px;
	border-radius: 30px;
}

/* .bottom-pic > div > a {
/*	display: block;*/
 
.bottom-pic > div > a > img {
	width: 65px;
	height: 98px;
	border-radius: 10px;
}
#col1,#col2,#col3,#col4,#col5{
	border: solid 1px white;
	width: 35px;
	height: 35px;
	border-radius: 25px;
	box-shadow: 0 1px 10px 0px rgba(255,255,255,0.7);
}

#size1, #size2, #size3, #size4, #size5, #size6, #size7,#size8{
		font-size: 16px;
		text-shadow:0 0 10px silver;
	
}
	.consist{
	width: 90%;
	padding-left: 10px;
	font-size: 15px;
}
	.price-wrap{
	display: flex;
	height: 10%;
	width: 90%;
	
}
.price-sale{
	
	height: max-content;
	width: 50%;
	text-align: center;
	font-size: 25px;
	text-shadow:2px 2px 5px silver;	
}
.main-price{
	
	height: max-content;
	width: 50%;
	font-size: 17px;
	text-decoration: line-through;
	text-decoration-color: red;
	opacity: 35%;
	text-shadow:0 0 5px silver;
}
	.name{
	width: 100%;
}
	.social{
	display: none;
}
	.contacts{
	text-align: center;
	width: 25%;
	margin-right: 5px;
}
	.contacts > a > img{
	width: 85%;
}
	.sallerName{
	font-size: 20px;
	margin-top: 20px;
	height: 30px;
}
	.nav{
	margin: 7px 0px 0px 0px;
}
	.hedder{
	height: 60px;
}
	.main{
	max-height: 4000px;
	max-width: 295px;
	margin-top: 5px;
}
}





